@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Playfair+Display:ital,wght@0,400;0,600;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/swirl_pattern.png);
    font-family: 'Playfair Display', serif;
    
}

nav{
    width: 100%;
    display: flex;
    background-color: #05080d;
    justify-content: space-between;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.288);
    z-index: 10;
}
input#hamburguesa-icono{
    visibility: hidden;
}
input#hamburguesa-icono ~ ul{
    background-color: rgba(77, 75, 77, 0.767);
    position: absolute;
    margin-top: 1.7rem;
    width: 100%;
    right: 100%;
    height: calc(100% - 77px);
    list-style: none;
    transition: all 300ms linear;
}
input#hamburguesa-icono:checked ~ ul{
    right: 0%;
    
}

#div-hamburguesa{
    padding: 10px;
}

div#div-logo>img{
    width: 75px;
    height: 75px;
}

div{
    align-self: center;
}

a.item_nav{
    color: #e7e3e2;
    align-self: center;
    text-decoration: none;
    font-size:  4vh;
    font-weight: bold;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

i{
    animation: change-color-icon 3s infinite alternate;
}
main{
    margin: auto;
    margin-top: 4%;
    width: 92%;
    overflow: hidden;
    border-radius:25px;
    box-shadow: 2px 2px 10px rgba(24, 24, 24, 0.514);
}
article{
    display: flex;
    flex-direction: column;
    
    background-color:#22353c;
    width: 100%;
}
section{
    display: flex;
    align-items: center;
    height: 19vh;
    margin: 1vh;
}
.main_title{
    justify-content: center;
    align-items: center;
    background-color:#f7a800cb;
    width: 100%;
    font-size: 3.5vh;
    margin: 0;
    color: #e7e3e2 ;
    box-shadow: 0px 10px 20px 0px rgba(228, 213, 213, 0.514);
}
.section_title{
    font-size: 2.5vh;
    color: #e7e3e2;
}
section a{
    font-family: 'Marcellus SC', serif;
    text-decoration: none;
    color: #e7e3e2;
    font-size: 2.4vh;
    margin-left: 10px;
}
section p{
    font-family: 'Marcellus SC', serif;
    margin-left: 10px;
    color: #e7e3e2;
    font-size: 2.4vh;
}
section i{
    margin-right: 2px;
}
section address a{
    font-size: 2.2vh;
}

@media only screen and (min-width: 992px) {
    #nav_burger{
        position: absolute;
        display: none;
    }
    nav{
        overflow: hidden;
    }
    input#hamburguesa-icono ~ ul{
        position: static;
        margin: 0;
        height: 100%;
        flex-direction: row;
        background-color: transparent;
       
        
    }
    
    li:hover{
        border-radius: 10px;
        border-bottom: 5px solid;
        animation: change-color 2s  infinite alternate;
        box-shadow: -3px 5px 10px 4px #e7e3e2b6;
        transition: all 500ms ease-in;
    }
    a.item_nav{
        font-size: 2vw;

    }
    #div-hamburguesa{
        display: flex;
        width: 100%;
        align-self: center;
    }
    section a:hover{
        color: #dea26c;
    }
    section address a, section a, section p{
        font-size: 2vw;
    }
}
@keyframes change-color {
    0% {
        border-color:#dea26c
    }
    
    50%{
        border-color:#a26e49
    }
    
    100%{
        border-color: #6f4837;
    }
}

@keyframes change-color-icon {
    0% {
        color:#dea26c
    }
    
    50%{
        color:#a26e49
    }
    
    100%{
        color: #6f4837;
    }
}
